header.header.row 
    .col.header__logo
        a(href="index.pug") 
            img(src="./assets/images/logo.svg" alt="") 
    .col.header__type
        .date 
        h1.logo__type Nicaela Cabuhat
        h2.title Front-end Web Developer
    .col.header__location
        .header__location__icon
            .icon#icon_location 
        span.header__location__text 
            span Laguna,
            span Philippines
nav.nav.row
    .col 
        a.nav__link(href="index.pug") Home 
    .col 
        a.nav__link(href="about.pug") About
    .col 
        a.nav__link(href="projects.pug") Projects
    .col 
        a.nav__link(href="contact.pug") Contact