head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title nicabuhat | web developer
    meta(name='author' content='Nicaela Cabuhat')
    meta(name='description' content='I am a front-end web developer and multimedia artist from the Philippines. I provide branding services from the ground up which include brand identity and web development. Get in touch now to boost your overall business presence and promote your brand.')
    meta(name='keywords' content='nicaela cabuhat, nicabuhat, web developer, front-end web developer')

    script(src='assets/js/config.js' type='module')


    title nicabuhat | web developer 