extends views/templates/layout.pug 

block content 
    .container
        .grid.about
            include views/includes/header.pug
            main.main.about__main.row
                .col.about__info
                    span Hi, I am Nica!
                    p I am a web designer and developer from the Philippines. I also dabble in different art forms such as photography and graphic design. 
                    p When I’m not working, I can be seen galavanting around the city with my mountain bike or playing with my little hobbit pup named Samwise.
                .col.about__likes 
                    .icon.about__icon#icon_dog 
                    .icon.about__icon#icon_bike 
                    .icon.about__icon#icon_burger
                    .icon.about__icon#icon_design 
                    .icon.about__icon#icon_surfing
                    .icon.about__icon#icon_book
                    .icon.about__icon#icon_netflix
                .col.about__dp 

                .col.about__xp 
                    p I've been working with individual entrepreneurs and small businesses for the past six years. I provided them branding services from the ground up where I helped them with their brand identity which includes web design and development.
                    p I consider myself as an avid learner, whether it be brushing up on existing skills or learning new things, I am eager to learn it.

                .col.about__stack
                    .icon#icon_html 
                    .icon#icon_css 
                    .icon#icon_js 
                    .icon#icon_react 
                    .icon#icon_node 
                    .icon#icon_sql 
                    .icon#icon_mongo