extends views/templates/layout.pug 

block content 
    .container
        .grid.index
            include views/includes/header.pug

            main.main.index__main
                .hero-bg.hero-square
                    .hero-bg.hero-waves
                        .hero-bg.hero-dp
                            .hero-bg.hero-waves-2
            //- footer.footer.row
            //-     .col 
            //-         a(href="") Laguna, Philippines
            //-     .col
            //-         a(href="") download resume
            //-     .col 
            //-         a(href="") © nicabuhat 2022
