extends views/templates/layout.pug 

block content 
    .loader#loader
        .loader__container
            .loader__square
            .loader__square
            .loader__square
            .loader__square
            .loader__square
            .loader__square
            .loader__square
            .loader__square
            .loader__square
            .loader__image 
                h1.loader__text N